$bar-value-color: #ff7f00;
$bar-consensus-color: #377eb8;
$label-text-size-desktop: 0.88vmax;
$label-text-size-mobile: 2vmax;
$minor-text-size-desktop: 0.83vmax;
$minor-text-size-mobile: 1.8vmax;
$minor-border-width: 0.1vmax;
$background-color: #f0f0f0;

/* Breakpoints */
$xs: 768px;

/* Responsive MixIns */
%minor-text {
  @media screen and (max-width: $xs) /* Mobile */ {
    font-size: $minor-text-size-mobile;
  }

  @media screen and (min-width: $xs + 1) /* Desktop and Tablet */ {
    font-size: $minor-text-size-desktop;
  }
}

%label-text {
  @media screen and (max-width: $xs) /* Mobile */ {
    font-size: $label-text-size-mobile;
  }

  @media screen and (min-width: $xs + 1) /* Desktop and Tablet */ {
    font-size: $label-text-size-desktop;
  }
}

/* Rotating itself is done in Javascript for IE compatibility */
%rotating-label {
  @media screen and (max-width: $xs) /* Mobile */ {
    text-anchor: start;
  }

  @media screen and (min-width: $xs + 1) /* Desktop and Tablet */ {
    text-anchor: middle;
  }
}

%vertical-centered-text {
  alignment-baseline: middle;
  baseline-shift: -5%; /* Fix the "not quite right" vertical alignment */
}

/* Overall Styles */
body {
  background-color: $background-color;
}

.vis-container {
  height: 100vh;
}

/* Heading Styles */
#dashboard-heading {
  font-size: 2.5vmax;
  height: 2.5vmax;
  margin-bottom: 0.5vmax;
}

/* Bar Chart Styles */
#bar-chart {
  @media screen and (max-width: $xs) /* Mobile */ {
    height: 50%;
  }

  @media screen and (min-width: $xs + 1) /* Desktop and Tablet */ {
    height: 70%;
  }
}

.bar-value, .swatch-value {
  fill: $bar-value-color;
  stroke: $bar-value-color
}

.bar-consensus, .swatch-consensus {
  fill: $bar-consensus-color;
  stroke: $bar-consensus-color
}

.blank {
  fill: $background-color;
}

.axis {
  @extend %minor-text;
  font-weight: 500;
}

.x-axis {
  @extend %rotating-label;
}

.axis-label {
  @extend %label-text;
  text-anchor: middle;
  font-weight: bold;
  fill: black;
}

#bar-chart-legend {
  height: 100%;
}

#bar-chart-legend-xs {
  height: 2.5%;
}

.swatch-label {
  @extend %minor-text;
  @extend %vertical-centered-text;
}

/* Overall Control and Legend Styles */
#control-row {
  margin: 0;
  @media screen and (max-width: $xs) /* Mobile */ {
    height: 42%;
  }

  @media screen and (min-width: $xs + 1) /* Desktop and Tablet */ {
    height: 22%;
  }
}

#mixer {
  height: 100%;
  border: black 0.16vw;
}

.slider-guide, .total-guide {
  stroke: black;
  stroke-width: $minor-border-width;
  stroke-dasharray: 5, 5;
}


/* Slider Styles */
.slider-label {
  @extend %minor-text;
  @extend %rotating-label;
}

.slider-guide-text, .slider-percentage {
  @extend %minor-text;
  @extend %vertical-centered-text;
}

.slider-guide-text {
  text-anchor: end;
}

.slider-percentage {
  text-anchor: start;
}

.handle-label {
  fill: $background-color;
  stroke: black;
  stroke-width: $minor-border-width;
}

.ticks {
  font: 0.52vw sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  @media screen and (max-width: $xs) /* Mobile */ {
    stroke-width: 2.06vw;
  }

  @media screen and (min-width: $xs + 1) /* Desktop and Tablet */ {
    stroke-width: 0.52vw;
  }
}

.track-inset {
  stroke: #d9d9d9;
  @media screen and (max-width: $xs) /* Mobile */ {
    stroke-width: 1.76vw;
  }

  @media screen and (min-width: $xs + 1) /* Desktop and Tablet */ {
    stroke-width: 0.42vw;
  }
}

.track-actual-setting {
  @extend .track-inset;
  stroke: #737373;
}

.track-overlay {
  pointer-events: stroke;
  @media screen and (max-width: $xs) /* Mobile */ {
    stroke-width: 8.3vw;
  }

  @media screen and (min-width: $xs + 1) /* Desktop and Tablet */ {
    stroke-width: 2.6vw;
  }
  cursor: crosshair;
}

.handle {
  fill: #d9d9d9;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 0.065vw;
}

/* Total Percentage Widget Styles */
.total-outline {
  fill: $background-color;
  stroke: #000;
  stroke-width: $minor-border-width
}

.total-bar-good {
  fill: #4daf4a;
}

.total-bar-bad {
  fill: #e31a1c;
}

.total-guide-text {
  text-anchor: start;
  alignment-baseline: middle;
  baseline-shift: -5%; /* Fix the "not quite right" vertical alignment */
}

.total-label-text {
  @extend .slider-label;
  @extend %rotating-label;
  font-weight: 800;
}