$bar-value-color: #e31a1c;
$bar-consensus-color: #377eb8;

#bar-chart {
  height: 80%;
}

.bar-value {
  fill: $bar-value-color;
  stroke: $bar-value-color
}

.bar-consensus {
  fill: $bar-consensus-color;
  stroke: $bar-consensus-color
}

.blank {
  fill: white;
}

#slider {
  margin-top: 13px;
}

.axis {
  font-weight: bold;
  font-size: 15px;
}
