#bar-chart {
  height: 80%; }

.bar-value, .swatch-value {
  fill: #e31a1c;
  stroke: #e31a1c; }

.bar-consensus, .swatch-consensus {
  fill: #377eb8;
  stroke: #377eb8; }

.blank {
  fill: white; }

#slider {
  margin-top: 13px; }

.axis {
  font-weight: bold;
  font-size: 15px; }
