/* Heading Styles */
#dashboard-heading {
  height: 3%; }

/* Bar Chart Styles */
#bar-chart {
  height: 70%; }

.bar-value, .swatch-value {
  fill: #e31a1c;
  stroke: #e31a1c; }

.bar-consensus, .swatch-consensus {
  fill: #377eb8;
  stroke: #377eb8; }

.blank {
  fill: white; }

.axis {
  font-weight: 500;
  font-size: 0.83vw; }

.axis-label {
  font-size: 0.88vw;
  font-weight: bold;
  fill: black;
  text-anchor: middle; }

#bar-chart-legend {
  height: 100%;
  font-size: 0.83vw; }

/* Overall Control and Legend Styles */
#control-row {
  margin: 0;
  height: 22%; }

#mixer {
  height: 100%;
  border: black 3px; }

.slider-guide {
  stroke: black;
  stroke-width: 0.25vh;
  stroke-dasharray: 5, 5; }

/* Slider Styles */
.slider-label {
  font-size: 0.83vw;
  text-anchor: middle; }

.slider-guide-text, .slider-percentage {
  font-size: 0.83vw;
  alignment-baseline: middle;
  baseline-shift: -5%;
  /* Fix the "not quite right" vertical alignment */ }

.slider-guide-text {
  text-anchor: end; }

.slider-percentage {
  text-anchor: start; }

.handle-label {
  fill: white;
  stroke: black;
  stroke-width: 0.25vh; }

.ticks {
  font: 10px sans-serif; }

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round; }

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px; }

.track-inset {
  stroke: #ddd;
  stroke-width: 8px; }

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: crosshair; }

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px; }
