/* Breakpoints */
/* Responsive MixIns */
@media screen and (max-width: 991px) {
  .axis, .swatch-label, .slider-label, .total-label-text, .slider-guide-text, .slider-percentage {
    font-size: 1.8vmax; } }

@media screen and (min-width: 992px) {
  .axis, .swatch-label, .slider-label, .total-label-text, .slider-guide-text, .slider-percentage {
    font-size: 0.83vmax; } }

@media screen and (max-width: 991px) {
  .axis-label {
    font-size: 2vmax; } }

@media screen and (min-width: 992px) {
  .axis-label {
    font-size: 0.88vmax; } }

.swatch-label, .slider-guide-text, .slider-percentage {
  alignment-baseline: middle;
  baseline-shift: -5%;
  /* Fix the "not quite right" vertical alignment */ }

/* Overall Styles */
body {
  background-color: #f0f0f0;
  overflow: hidden;
  /* Prevent scrolling */ }

.vis-container {
  height: 100vh; }

/* Heading Styles */
#dashboard-heading {
  font-size: 4.5vh;
  height: 5vh;
  padding-bottom: 0.5vh;
  font-weight: bold; }

/* Bar Chart Styles */
@media screen and (max-width: 991px) {
  #bar-chart {
    height: 50%; } }

@media screen and (min-width: 992px) {
  #bar-chart {
    height: 70%; } }

.bar-value, .swatch-value {
  fill: #ff7f00;
  stroke: #ff7f00; }

.bar-consensus, .swatch-consensus {
  fill: #377eb8;
  stroke: #377eb8; }

.blank {
  fill: #f0f0f0; }

.axis {
  font-weight: 500; }

.axis-label {
  text-anchor: middle;
  font-weight: bold;
  fill: black; }

#bar-chart-legend {
  height: 100%; }

#bar-chart-legend-xs {
  height: 5%; }

/* Overall Control and Legend Styles */
#control-row {
  margin: 0; }
  @media screen and (max-width: 991px) {
    #control-row {
      height: 39.5%; } }
  @media screen and (min-width: 992px) {
    #control-row {
      height: 22%; } }

#mixer {
  height: 100%; }
  @media screen and (max-width: 991px) {
    #mixer {
      padding: 0; } }

.slider-guide, .total-guide {
  stroke: black;
  stroke-width: 0.1vmax;
  stroke-dasharray: 5, 5; }

/* Slider Styles */
.slider-guide-text {
  text-anchor: end; }

.slider-percentage {
  text-anchor: start; }

.handle-label {
  fill: #f0f0f0;
  stroke: black;
  stroke-width: 0.1vmax; }

.ticks {
  font: 0.52vw sans-serif; }

.track,
.track-inset,
.track-actual-setting,
.track-overlay {
  stroke-linecap: round; }

.track {
  stroke: #000;
  stroke-opacity: 0.3; }
  @media screen and (max-width: 991px) {
    .track {
      stroke-width: 2.06vw; } }
  @media screen and (min-width: 992px) {
    .track {
      stroke-width: 0.52vw; } }

.track-inset, .track-actual-setting {
  stroke: #d9d9d9; }
  @media screen and (max-width: 991px) {
    .track-inset, .track-actual-setting {
      stroke-width: 1.76vw; } }
  @media screen and (min-width: 992px) {
    .track-inset, .track-actual-setting {
      stroke-width: 0.42vw; } }

.track-actual-setting {
  stroke: #737373; }

.track-overlay {
  pointer-events: stroke;
  cursor: crosshair; }
  @media screen and (max-width: 991px) {
    .track-overlay {
      stroke-width: 8.3vw; } }
  @media screen and (min-width: 992px) {
    .track-overlay {
      stroke-width: 2.6vw; } }

.handle {
  fill: #d9d9d9;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 0.065vw; }

/* Total Percentage Widget Styles */
.total-outline {
  fill: #f0f0f0;
  stroke: #000;
  stroke-width: 0.1vmax; }

.total-bar-good {
  fill: #4daf4a; }

.total-bar-bad {
  fill: #e31a1c; }

.total-guide-text {
  text-anchor: start;
  alignment-baseline: middle;
  baseline-shift: -5%;
  /* Fix the "not quite right" vertical alignment */ }

.total-label-text {
  text-anchor: middle;
  font-weight: 800; }
